.golf_score_content {
  margin-top: 75px;
}

.golf_score_title {
  align-content: center;
}

.date_box_title {
  border: solid 1px;
}

.box_title {
  height: 26px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-right: solid 1px;
  text-align: center;
}

.hole_box {
  border-bottom: solid 1px;
  border-right: solid 1px;
  word-wrap: break-word;
  text-align: center;
  height: 192px;
}

.side_box_title {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-right: solid 1px;
  word-wrap: break-word;
  text-align: center;
}

.sub_box_title {
  height: 26px;
}

#added_border {
  border-right: solid 1px;
}

.date_option {
  align-content: center;
}

.input_title {
  font-size: 16px;
  font-weight: bold;
}